{% extends "pgm4app/base.html" %}
{% load i18n markdown_deux_tags bleach_tags %}

{% block content %}
  <section class="question header">
    <div class="updown">
      <form method="POST" action="{% url 'vote-up' object.pk %}">{% csrf_token %}<input type="submit" class="up" value="▲"></form>
      <div class="points" title="{{ object.up }} | {{ object.down }}">{{ object.points }}</div>
      <form method="POST" action="{% url 'vote-down' object.pk %}">{% csrf_token %}<input type="submit" class="down" value="▼"></form>
    </div>
    <h1 class="question-title">{{ object.title|bleach }}</h1>
  </section>

  <section class="question detail">
    <p class="text">{{ object.text|markdown|bleach }}</p>
    <p class="meta">
      <a class="username" href="{% url 'user-detail' object.user.username %}">{{ object.user.username }}</a>
      {% if user.is_authenticated and object.user == user %}
      (<a class="edit" href="{% url 'question-update' object.pk %}">{% trans 'edit' %}</a>)
      {% endif %}
      <span class="timestamp" data-timestamp="{{ object.created }}">{{ object.created }}</span>
      <span class="tags list">
        {% for tag in object.tags.all %}
        <a class="tag item" href="{% url 'tag-detail' tag.slug %}">{{ tag.name }}</a>
        {% endfor %}
      </span>
    </p>
    <p class="links">
      <a class="link-answer-create" href="{% url 'answer-create' object.pk %}">{% trans 'answer this question' %}</a> |
      <a class="link-comment-create" href="{% url 'comment-create' object.pk %}">{% trans 'add a comment' %}</a> |
      <a class="link-question-list" href="{% url 'question-list' %}">{% trans 'recent questions' %}</a>
    </p>

    <section class="comments list">
      {% for comment in object.children.public.comments %}
        <p class="comment item">
          <span class="text">{{ comment.text|bleach }}</span>
          <span class="seperator">&mdash;</span>
          <span class="meta">
            <a class="username" href="{% url 'user-detail' comment.user.username %}">{{ comment.user.username }}</a>
            {% if user.is_authenticated and comment.user == user %}
            (<a class="edit" href="{% url 'comment-update' comment.parent.pk comment.pk %}">{% trans 'edit' %}</a>)
            {% endif %}
            <span class="timestamp" data-timestamp="{{ comment.created }}">{{ comment.created }}</span>
          </span>
        </p>
      {% endfor %}
    </section>
  </section>

  <section class="answers list">
    <h2>{% trans 'Answers' %} ({{ object.children.public.answers | length }})</h2>

    {% for answer in object.children.public.answers %}
      <div class="answer item">
        <p class="text">{{ answer.text|markdown|bleach }}</p>
        <p class="meta">
          <a class="username" href="{% url 'user-detail' answer.user.username %}">{{ answer.user.username }}</a>
          {% if user.is_authenticated and answer.user == user %}
          (<a class="edit" href="{% url 'answer-update' object.pk answer.pk %}">{% trans 'edit' %}</a>)
          {% endif %}
          <span class="timestamp" data-timestamp="{{ answer.created }}">{{ answer.created }}</span>
        </p>
        <p class="links">
          <a class="link-comment-create" href="{% url 'comment-create' answer.pk %}">{% trans 'add a comment' %}</a>
        </p>

        <section class="comments list">
          {% for comment in answer.children.public.comments %}
            <p class="comment item">
              <span class="text">{{ comment.text|bleach }}</span>
              <span class="seperator">&mdash;</span>
              <span class="meta">
                <a class="username" href="{% url 'user-detail' comment.user.username %}">{{ comment.user.username }}</a>
                {% if user.is_authenticated and comment.user == user %}
                (<a class="edit" href="{% url 'comment-update' comment.parent.pk comment.pk %}">{% trans 'edit' %}</a>)
                {% endif %}
                <span class="timestamp" data-timestamp="{{ comment.created }}">{{ comment.created }}</span>
              </span>
            </p>
          {% endfor %}
        </section>

      </div>
    {% endfor %}
  </section>

{% endblock %}
