{% extends "pgm4app/base.html" %}
{% load pgm4tags i18n markdown_deux_tags bleach_tags %}

{% block body_classes %}question-detail{% endblock %}

{% block content %}
  <section class="question detail">
    {% include 'pgm4app/question_header_partial.html' with question=object detail=1 %}

    <div class="question content">
      {{ object.text|markdown|bleach }}
    </div>

    <div class="links">
      {% if user.is_authenticated %}
        <a class="link-answer-create" href="#answer">{% trans 'answer this question' %}</a>
      {% else %}
        <a class="link-answer-create" href="{% url 'account_login' %}">{% trans 'login to answer' %}</a>
      {% endif %}
    </div>

    {% include 'pgm4app/comment_list_partial.html' with comments=object.children.public.comments parent=object %}
  </section>

  <section class="answers list" id="answer-list">
    <h2>{% trans 'Answers' %} <span class="count">({{ object.children.public.answers | length }})</span></h2>

    {% for answer in object.children.public.answers|complete_content_list_for_user:user %}
      {% include 'pgm4app/answer_detail_partial.html' %}
    {% endfor %}
  </section>

  {% if user.is_authenticated %}
    <section class="question answerform" id="answer">
      <h2>{% trans 'Your answer' %}</h2>

      <form class="answer-form content-form" action="{{ answer_form_url }}" method="POST">
        {% csrf_token %}{{ answer_form.as_p }}
        <p><input type="submit" value="{% trans 'publish your answer' %}"></p>
      </form>
    </section>
  {% endif %}

{% endblock %}
