{% load i18n markdown_deux_tags bleach_tags %}

<section class="question header">
  <div class="updown">
    <form method="POST" action="{% url 'vote-up' object.pk %}">{% csrf_token %}<input type="submit" class="up" value="▲"></form>
    <div class="points" title="{{ object.up }} | {{ object.down }}">{{ object.points }}</div>
    <form method="POST" action="{% url 'vote-down' object.pk %}">{% csrf_token %}<input type="submit" class="down" value="▼"></form>
  </div>
  <h1 class="question-title"><a href="{{ object.get_absolute_url }}">{{ object.title|bleach }}</a></h1>
  <p class="meta">
    <a class="username" href="{% url 'user-detail' object.user.username %}">{{ object.user.username }}</a>
    {% if user.is_authenticated and object.user == user %}
    (<a class="edit" href="{% url 'question-update' object.pk %}">{% trans 'edit' %}</a>)
    {% endif %}
    <span class="timestamp" data-timestamp="{{ object.created }}">{{ object.created|timesince }}</span>
    <span class="tags list">
      {% for tag in object.tags.all %}
      <a class="tag item" href="{% url 'tag-detail' tag.slug %}">{{ tag.name }}</a>
      {% endfor %}
    </span>
  </p>
</section>
