{% extends "pgm4app/base.html" %}
{% load i18n %}

{% block content %}
  <h1>Questions</h1>

  {% if object_list %}
    {% for item in object_list %}
      <ul>
        <li>
          <h2><a href="{% url 'question-detail' item.pk item.slug %}">{{ item.title }}</a></h2>
          <p>{{ item.text }}</p>
          <p>
            <a class="username" href="{% url 'user-detail' item.user.username %}">{{ item.user.username }}</a>
            <span class="timestamp" data-timestamp="{{ item.created }}">{{ item.created }}</span>
            <span class="tags">
              {% for tag in item.tags.all %}
                <a class="tag" href="{% url 'tag-detail' tag.slug %}">{{ tag.name }}</a>
              {% endfor %}
            </span>
          </p>
        </li>
      </ul>
    {% endfor %}
  {% else %}
    <p>{% trans 'No questions found.' %}</p>
  {% endif %}

  <p><a href="{% url 'question-create' %}">{% trans 'Ask a question...' %}</a></p>

{% endblock %}
