{% load i18n markdown_deux_tags bleach_tags %}

<div class="question item header" id="c{{ question.pk }}">
  {% include 'pgm4app/updown_partial.html' with obj=question %}
  <div class="content">
    {% if detail == 1 %}
      <h1 class="question-title"><a href="{{ question.get_absolute_url }}">{{ question.title|bleach }}</a></h1>
    {% else %}
      <h2 class="question-title"><a href="{{ question.get_absolute_url }}">{{ question.title|bleach }}</a></h2>
    {% endif %}
    <div class="meta">
      <a class="username" href="{% url 'user-detail' question.user.username %}">{{ question.user.username }}</a>
      {% if user.is_authenticated and question.user == user %}
      (<a class="edit" href="{% url 'question-update' question.pk %}">{% trans 'edit' %}</a>)
      {% endif %}
      <span class="timestamp" data-timestamp="{{ question.created }}">{{ question.created|timesince }}</span> ago &mdash;
      <span class="count-views" data-count-views="{{ question.count_views }}">{{ question.count_views }}</span> views &mdash;
      <span class="tags list">
        tags:
        {% for tag in question.tags.all %}
          <a class="tag item" href="{% url 'tag-detail' tag.slug %}">{{ tag.name }}</a>
        {% endfor %}
      </span>
    </div>
  </div>
</div>
