{% extends "pgm4app/base.html" %}
{% load i18n %}

{% block body_classes %}question-create{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>{% trans 'Ask a question' %}</h1>
  {% else %}
    <h1>{% trans 'Ask a question anonymously' %}</h1>
    {% url 'account_login' as login_link %}
    <p>{% blocktrans %}You will not be able to edit or delete an anonymous question. <a href="{{ login_link }}">Sign in before asking</a> to take ownership of your question.{% endblocktrans %}</p>
  {% endif %}

  <form class="question-form content-form" action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="{% trans 'publish the question' %}"></p>
  </form>
{% endblock %}
